<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <table id="submittable">
          <tr>
            <label for="state" class="h4">Select State</label>
          </tr>
          <tr>
            <td>
              <select class="form-control " id="state" (change)="statechanged($event)" value="{{mystateid}}">
                <option value="">Select State</option>
                <option *ngFor="let s of states; let i = index;" value="{{s.id}}">{{s.state}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Division</label>
          </tr>
          <tr>
            <td>
              <select class="form-control" (change)="divchange($event)" id="division" >
                <option value="">Select division</option>
                <option *ngFor="let d of divisions; let i = index;" value="{{d.divCode}}">{{d.division}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select District</label>
          </tr>
          <tr>
            <td>
              <select id="district" class="form-control" (change)="distchange($event)" >
                <option value="">Select District</option>
                <option *ngFor="let dist of districts; let i=index;" value="{{dist.id}}">{{dist.district}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Taluka</label>
          </tr>
          <tr>
            <td>
              <select id="taluka" class="form-control" (change)="talukachange($event)">
                <option value="">Select Taluka</option>
                <option *ngFor="let t of taluka; let i=index;" value="{{t.id}}">{{t.taluka}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Village</label>
          </tr>
          <tr>
            <td>
              <select id="village" class="form-control" >
                <option value="">Select Village</option>
                <option *ngFor="let v of village; let i=index;" value="{{v.id}}">{{v.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><a class="btn btn-secondary mt-3">Clear</a>
              <button type="submit" class="btn btn-primary mt-3 ms-4" (click)="save()">submit</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-9 mt-3 ">

        <table class="table p-5">
          <tr>
            <th class="h2 text-center">Sr. No.</th>
            <th class="h2 text-center">State</th>
            <th class="h2 text-center">Division</th>
            <th class="h2 text-center">District</th>
            <th class="h2 text-center">Taluka</th>
            <th class="h2 text-center">Village</th>
            <th class="h2 text-center">Edit/Delete</th>
          </tr>
          <tr *ngFor="let r of allRecords; let i =index;">
            <td class="h4 text-center">{{i+1}}</td>
            <td class="h4 text-center">{{r.state}}</td>
            <td class="h4 text-center">{{r.division}}</td>
            <td class="h4 text-center">{{r.district}}</td>
            <td class="h4 text-center">{{r.taluka}}</td>
            <td class="h4 text-center">{{r.village}}</td>
            <td class="h4 text-center">
              <button class="btn bg-primary" routerLink="/records/{{r.id}}" (click)="editProduct(r.id)"><i
                  class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></button>
              <button class="btn bg-danger ms-3" (click)="deleteproduct(r.id)"><i class="fa fa-trash fa-2x"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
