<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <table id="submittable">
          <tr>
            <label for="state" class="h4">Select State</label>
          </tr>
          <tr>
            <td>
              <select class="form-control " id="state" (change)="statechanged($event)">
                <option value="">Select State</option>
                <option *ngFor="let s of states; let i = index;" value="{{s.id}}">{{s.state}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Division</label>
          </tr>
          <tr>
            <td>
              <select class="form-control" (change)="divchange($event)" id="division">
                <option value="">Select division</option>
                <option *ngFor="let d of divisions; let i = index;" value="{{d.divCode}}">{{d.division}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select District</label>
          </tr>
          <tr>
            <td>
              <select class="form-control" (change)="distchange($event)">
                <option value="">Select District</option>
                <option *ngFor="let dist of districts; let i=index;" value="{{dist.id}}">{{dist.district}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Taluka</label>
          </tr>
          <tr>
            <td>
              <select class="form-control" (change)="talukachange($event)">
                <option value="">Select Taluka</option>
                <option *ngFor="let t of taluka; let i=index;" value="{{t.id}}">{{t.taluka}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <label for="division" class="h4 mt-3">Select Village</label>
          </tr>
          <tr>
            <td>
              <select class="form-control">
                <option value="">Select Village</option>
                <option *ngFor="let v of village; let i=index;" value="{{v.id}}">{{v.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><a class="btn btn-secondary mt-3">Clear</a>
              <button type="submit" (click)="save()">submit</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-9 mt-3 ">

        <table class="table">
          <tr class="bg-dark text-light p-3">
            <th class="h2 text-center">Sr. No.</th>
            <th class="h2 text-center">State</th>
            <th class="h2 text-center">Division</th>
            <th class="h2 text-center">District</th>
            <th class="h2 text-center">Taluka</th>
            <th class="h2 text-center">Village</th>
            <th class="h2 text-center">Edit/Delete</th>
          </tr>
          <tr>
            <td class="h4 text-center">1</td>
            <td class="h4 text-center">State</td>
            <td class="h4 text-center">Division</td>
            <td class="h4 text-center">District</td>
            <td class="h4 text-center">Taluka</td>
            <td class="h4 text-center">Village</td>
            <td class="h4 text-center">
              <a href="" class="btn bg-primary"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
              <a class="btn bg-danger ms-3"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
